streamlit
presidio-analyzer
presidio-anonymizer
spacy
pandas
openpyxl
plotly
faker
streamlit-option-menu
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
